<div class="event-participants-mq">
    <div class="icon-user-show">
      <i class="fi-male"></i>
    </div>
    <div class="item-user-show">
      <p class = "half-width"> <strong> <%= t('users.show.event-banner.participants', count: event.validated_bookings_number) %> </strong> </p>
      <% if event.max_participants? %>
        <p class = "half-width"> <%= t('users.show.event-banner.places', count: event.max_participants - event.validated_bookings_number) %> </p>
      <% end %>
    </div>
</div>
