<div class="event-calendar-mq">
  <div class="icon-user-show">
    <i class="fi-calendar"></i>
  </div>
  <div class="item-user-show">
    <div class="half-width">
      <p><strong> <%= t('users.show.event-banner.beginning') %></strong></p>
      <p> <%= event.starts_at.strftime('%d/%m/%Y - %H:%M') %> </p>
    </div>
    <div class="half-width">
      <p><strong> <%= t('users.show.event-banner.end') %></strong></p>
      <p> <%= event.ends_at.strftime('%d/%m/%Y - %H:%M') %> </p>
    </div>
  </div>
</div>
