<p> <%= t('booking_mailer.user_subscription.hello', name: @event.user.first_name.capitalize) %> </p>

<p> <%= t('booking_mailer.user_subscription.body', event_name: @event.name, participant_name: @user.first_name.capitalize) %> </p>
<%= link_to event_url(id: @event.id), style: "text-decoration: none;" do %>
 <button style="background-color: #DA4167 ; border: 2px solid #DA4167 ; border-radius: 5px; color: white; font-size: 16px;">
   <%= t('booking_mailer.user_subscription.event_access')%>
 </button>
<% end %>
