<div class="container">
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 70px;">
      <%= image_tag ("https://s-media-cache-ak0.pinimg.com/originals/ce/9a/08/ce9a0852610ff66fc3d2350c77ba1ab8.gif")%>
  </div>
  <h1 style="text-align: center; margin-bottom: 70px !important; font-family: "Shanti";">Merci !!!</h1>
</div>
