<p> <%= t('user_mailer.welcome.hello', name: @user.first_name.capitalize) %> </p>

<p> <%= t('message_mailer.user_comment.body') %> </p>
<%= link_to event_url(id: @event.id) do %>
 <button style="background-color: #DA4167 ; border: 2px solid #DA4167 ; border-radius: 5px; color: white; font-size: 16px;">
   <%= t('booking_mailer.user_subscription.event_access')%>
 </button>
<% end %>
